name: DevSecOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      run: docker build -t devsecops-app .

    - name: Run Trivy scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-app
        severity: CRITICAL,HIGH
        exit-code: 0

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Tag Docker image
      run: docker tag devsecops-app ${{ secrets.DOCKER_USERNAME }}/devsecops-app:latest

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/devsecops-app:latest

